.Button,
.Button2 {
    text-decoration: none;
    border: 1px solid #34b3a0;
    padding: 6px 15px 6px 15px;
    transition: 1s linear;
}

.Button {
    color: #34b3a0 !important;
    background-color: white !important;
}

.Button2 {
    background-color: #34b3a0;
    color: white;
}

.Button:hover {
    border: 1px solid #46c9b6;
    color: #46c9b6;
    text-decoration: none;
}

.Button2:hover {
    background-color: #46c9b6;
    border: 1px solid #46c9b6;
    color: white;
    text-decoration: none;
}

footer {
    background-color: #939598;
    color: #464b54;
    text-align: center;
    font-size: small;
}

.bgColor {
    background-color: #E9EAEA;
    padding-bottom: 15px;
}

.date {
    width: 60px;
}

.textContainer {
    text-align: justify;
    background-color: rgba(30,30,30,0.5);
}

#Buttons {
    margin-top: 80px;
}

#learn {
    width: 400px;
    height: 300px;
    margin-top: 50px;
}

#think {
    width: 400px;
    height: 300px;
    margin-top: 40px;
}

#US {
    width: 400px;
    height: 300px;
    margin-top: 110px;
}

footer .col-sm-12 {
    height: 50px;
    margin-top: 20px;
}

.back .content form .form-group{
    margin-bottom: 10px;
}

#DateInputDiv {
    padding: 0;
    margin-left: 7px;
}

#DateInput {
    padding: 0;
}

#regForm h5 {
    color: black;
}

.row {
    padding-top: 10px;
}

.SpecialRow {
    height: 500px;
}

.ReadingForm {
    border: none;
    background-color: #f2f2f2;
}

.ReadingArticle {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: justify;
}

.left-navbar{
    list-style: none;
    padding: 20px;
}

#mainNavBar {
    border-bottom: 2px solid #34b3a0;
}

.progress {
    margin-top: 11px;
    margin-bottom: -11px;
}

/*top div,img*/
.bgIMG {
    background: url('../images/learn.jpg') fixed no-repeat center bottom;
    background-color: #E9EAEA; 
    color: #fff;
    min-height: 600px;
    background-size: cover;
}
/*Bottom div,img*/
.bgIMG2{
    background: url('../images/whyUS.jpg') fixed no-repeat top;
    background-color: rgba(30,30,30,0.2); 
    color: #fff;
    min-height: 600px;
    background-size: cover;
}
/*middle div*/
.bgIMG3 {
    background-color: #E9EAEA; 
    color: black;
    min-height: 400px;
    background-size: cover;

}
.LandingBody{
    font-size:18px;
}
.LandingBody h2, .LandingBody h3{
    color: #34b3a0;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}
.navbar-default .navbar-nav>li>a {
    text-decoration: none;
    border: 1px solid #34b3a0;
    padding: 6px 15px 6px 15px;
    margin: 5px;
    transition: 1s linear;
    background-color: #34b3a0;
    color: white;
    border-radius: 4px;
}

#navbar-noBorder {
    border: none;
}

.msgBody{
    background-color: #FFF;
    padding: 10px;
    min-height: 200px;
    border: 1px solid #34b3a0;
}
/*ADD CUSTOM STYLES ABOVE*/
/*Card style*/

.card {
    height: 400px;
    background:transparent;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
    visibility: transparent;
}

.card .front,
.card .back {
    display: block;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .back {
    background-color: #E9EAEA;
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

/*Colors for front and back applied here*/

.cardContainer:first-child .card .front {
    background-color: #E9EAEA;
}

.cardContainer:first-child .card .back {
    background-color: #E9EAEA;
}

.cardContainer:first-child .card .specialFront {
    background-color: #E9EAEA;
    background: transparent;
}

.cardContainer:first-child .card .specialBack {
    background-color: rgba(30,30,30,0);
    padding: 50px;
    border-radius: 20px;
}

@-moz-document url-prefix(){

    .cardContainer:first-child .card .specialBack {
        background-color: rgba(233,234,234,1);
        padding: 50px;
        border-radius: 20px;
    }

}
/*END CARD*/
